*{
    color: black;
}
html{
    display: flex;
}
body{
    background-color: beige;
    display: flex;
    flex: 1;
    flex-direction: column;
}
.div1{
    flex: 1;
    flex-direction: row;
    font-size: 35px;
    position: relative;
    top: 200px; left: 400px;
}
.div2{
    flex: 1;
    font-size: 15px;
    position: relative;
    top: -45px; left: 800px;
}
.button{
    color: white;
    background-color: grey;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    top: 0px; left: 670px;
    border-style : none;
    border-left-style : none;
}
form{
    text-align: start;
}
header{
    flex: 1;
    background-color: white;
    position: relative;
    flex-direction: row;
    order: 1;
    
}
main{
    flex: 15;
    flex-direction: row;
    order: 2;
}
footer{
    flex: 5;
    background-color: white;
    order: 3;
}